<!-- log area container -->
<div class="log-area-container">
  <!-- log area instance -->
  <div>
    <!-- overflow guard? -->
    <div class="overflow-guard">
      <!-- scrollable element -->
      <div class="scrollable">
        <!-- lines content -->
        <div class="log-area-content">
          <!-- single line -->
          <table>
            <tbody>
              <tr
                class="log-line"
                st-select-mode="none"
                *ngFor="let line of logLines; let i = index"
                [ngStyle]="{ color: line.color }"
              >
                <td class="log-column log-line-number">
                  {{ i }}
                </td>
                <td class="log-column">{{ line.date }}</td>
                <td class="log-column">{{ line.time }}</td>
                <td class="log-column">{{ line.mainProcessId }}</td>
                <td class="log-column">{{ line.workerProcessId }}</td>
                <td class="log-column">{{ line.logLevelString }}</td>
                <td class="log-column">{{ line.logKey }}</td>
                <td class="log-column">{{ line.logMessage }}</td>
              </tr>
            </tbody>
          </table>
          <!-- horizontal scrollbar -->
          <div></div>
          <!-- for vertical scrollbar? -->
          <!-- <canvas></canvas> -->
          <!-- vertical scrollbar -->
          <div></div>
        </div>
        <!-- mouse cursor -->
        <!-- <textarea></textarea> -->
      </div>
    </div>
  </div>
</div>
