<p style="color: red;">LOG AREA {{ logLines.length }}</p>
<!-- log area container -->
<div class="log-area-container">
  <!-- log area instance -->
  <div>
    <!-- overflow guard? -->
    <div>
      <!-- line numbers -->
      <div></div>
      <!-- scrollable element -->
      <div>
        <!-- lines content -->
        <div>
          <!-- single line -->
          <div *ngFor="let line of logLines">
            <span [ngStyle]="{ color: line.color }">
              <span>{{ line.date }}&nbsp;</span>
              <span>{{ line.time }}</span>
              <span>{{ line.mainProcessId }}</span>
              <span>{{ line.workerProcessId }}</span>
              <span>{{ line.logLevel }}</span>
              <span>{{ line.logKey }}</span>
              <span>{{ line.logMessage }}</span>
            </span>
          </div>
          <!-- horizontal scrollbar -->
          <div></div>
          <!-- for vertical scrollbar? -->
          <!-- <canvas></canvas> -->
          <!-- vertical scrollbar -->
          <div></div>
        </div>
        <!-- mouse cursor -->
        <!-- <textarea></textarea> -->
      </div>
    </div>
  </div>
</div>
