<mat-form-field>
  <mat-label>{{ dropdownName }}</mat-label>
  <mat-select [formControl]="dropDownFormControl" multiple>
    <mat-select-trigger>
      {{dropDownFormControl.value?.[0] || ''}}
      <span *ngIf="(dropDownFormControl.value?.length || 0) > 1">
        (+{{ (dropDownFormControl.value?.length || 0) - 1 }}
        {{ dropDownFormControl.value?.length === 2 ? "other" : "others" }})
      </span>
    </mat-select-trigger>
    <mat-option
      *ngFor="let option of optionsList"
      (click)="updateDropDownSelection(option)"
    >
      {{ option }}
    </mat-option>
  </mat-select>
</mat-form-field>

<form>
  <mat-form-field>
    <mat-label>{{ inputName }}</mat-label>
    <input
      type="text"
      matInput
      [formControl]="textInputFormControl"
      (input)="updateInputFieldText($event)"
    />
  </mat-form-field>
</form>
