<div class="filter-fields">
  <div class="dropdown">
    <button>{{ dropdownName }}</button>
    <div class="dropdown-options">
      <ul>
        <li>
          <input
            type="text"
            placeholder="Search"
            class="dropdown-search"
            [formControl]="dropDownSearchFormControl"
          />
        </li>
        <li>
          <div class="checkbox-state-change">
            <span (click)="markAllCheckboxes(true)">Select All</span>
            <span (click)="markAllCheckboxes(false)">Select None</span>
          </div>
        </li>
        <li *ngFor="let option of optionsList">
          <label *ngIf="shouldBeShown(option)"
            ><input
              type="checkbox"
              (click)="updateDropDownSelection(option)"
              [checked]="checkboxEnabled"
            />{{ option }}</label
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="text-input">
    <input
      [formControl]="textInputFormControl"
      placeholder="{{ inputName }}"
      type="text"
      (input)="updateInputFieldText($event)"
    />
  </div>
</div>
