<mat-grid-list cols="2" rowHeight="100px">
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Log Level Picker</mat-label>
      <mat-select [formControl]="logLevels" multiple>
        <mat-select-trigger>
          {{logLevels.value?.[0] || ''}}
          <span
            *ngIf="(logLevels.value?.length || 0) > 1"
            class="example-additional-selection"
          >
            (+{{ (logLevels.value?.length || 0) - 1 }}
            {{ logLevels.value?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let logLevel of logLevelsList" [value]="topping">{{
          logLevel
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Log key Picker</mat-label>
      <mat-select [formControl]="logLevels" multiple>
        <mat-select-trigger>
          {{logLevels.value?.[0] || ''}}
          <span
            *ngIf="(logLevels.value?.length || 0) > 1"
            class="example-additional-selection"
          >
            (+{{ (logLevels.value?.length || 0) - 1 }}
            {{ logLevels.value?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let logLevel of logLevelsList" [value]="topping">{{
          logLevel
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <form>
      <mat-form-field class="example-full-width">
        <mat-label>Value Filter</mat-label>
        <input type="text" matInput [formControl]="emailFormControl" />
      </mat-form-field>
    </form>
  </mat-grid-tile>

  <mat-grid-tile>
    <form>
      <mat-form-field class="example-full-width">
        <mat-label>Key Filter</mat-label>
        <input type="text" matInput [formControl]="emailFormControl" />
      </mat-form-field>
    </form>
  </mat-grid-tile>
</mat-grid-list>
