@import "styles.scss";

.log-viewer-wrapper {
  padding: 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.log-viewer-filters {
  display: flex;
  justify-content: space-between;
}
