<div class="log-viewer-wrapper">
  <div class="log-viewer-filters">
    <app-log-filters
      [dropdownName]="'Log Level Picker'"
      [optionsList]="possibleLogLevelValues"
      [inputName]="'Key Filter'"
      (dropDownItemEvent)="updateLogLevelFilter($event)"
      (inputFieldEvent)="updateKeyFilterSearchText($event)"
    ></app-log-filters>
    <app-log-filters
      [dropdownName]="'Log Key Picker'"
      [optionsList]="possibleLogKeyValues"
      [inputName]="'Value Filter'"
      (dropDownItemEvent)="updateLogKeyFilter($event)"
      (inputFieldEvent)="updateLogValueFilter($event)"
    ></app-log-filters>
  </div>

  <div class="log-viewer">
    <app-log-area [logLines]="filteredLogLines"></app-log-area>
  </div>
</div>
