@import "styles.scss";

.main-frame {
  // width: 500px;
  height: 500px;
  border-style: solid;
  border-width: 10px;
  color: white;
  border-color: $secondary-background;
  background-color: $primary-background;
}
