<div>
  <button mat-raised-button>Basic</button>
  <p>log-viewer works!</p>
  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile>
      <app-log-filters
        [dropdownName]="'Log Level Picker'"
        [optionsList]="logLevelsList"
        [inputName]="'Key Filter'"
        (dropDownItemEvent)="updateLogLevelFilter($event)"
        (inputFieldEvent)="updateKeyFilterSearchText($event)"
      ></app-log-filters>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-log-filters
        [dropdownName]="'Log Key Picker'"
        [optionsList]="logKeyList"
        [inputName]="'Value Filter'"
        (dropDownItemEvent)="updateLogKeyFilter($event)"
        (inputFieldEvent)="updateValueFilterSearchText($event)"
      ></app-log-filters>
    </mat-grid-tile>
  </mat-grid-list>
  <p>Remove after implemented</p>
  <div *ngFor="let item of selectedLogLevels">
    {{ item }}
  </div>
  <div *ngFor="let item of selectedLogKeys">
    {{ item }}
  </div>
  {{ keyFilterInputText }}
  {{ valueFilterInputText }}
  <div style="height: 50vh;">
    <app-log-area [logLines]="logLines"></app-log-area>
  </div>
</div>
